# Common environment
TZ=Europe/Lisbon
PHP_TZ=Europe/Lisbon
TIMEZONE=Europe/Lisbon
GENERIC_TIMEZONE=Europe/Lisbon
PUID=1000
PGID=1000
PUBLIC_IP=<YOUR_PUBLIC_IP>

# Docker
COMPOSE_PROJECT_NAME=selfhosting

# ARR SUITE
# FLARE SOLVERR
LOG_LEVEL=info
LOG_HTML=false
CAPTCHA_SOLVER=none
# GLUETON
VPN_SERVICE_PROVIDER=purevpn # define the vpn provider
OPENVPN_USER=abc
OPENVPN_PASSWORD=abc
SERVER_COUNTRIES=Netherlands
#Every 24 hours, after the tunnel is ready, the container will update the servers information for the currently in-use VPN service provider.
UPDATER_PERIOD=24h
# QBITTORRENT
WEBUI_PORT=8080