.env
mariadb/dbdata/
nginx-proxy-manager/data/
nginx-proxy-manager/log/
portainer
grafana/data
prometheus/data
.n8n/config
postgres/pg_hba.conf
postgres/pg_ident.conf
postgres/postgresql.auto.conf
postgres/postmaster.opts
postgres/base/
postgres/global/
postgres/pg_logical/
postgres/pg_multixact/
postgres/pg_stat_tmp/
postgres/pg_xact/
postgres/pg_subtrans/
postgres/postmaster.pid
postgres/pg_wal/
postgres/pg_notify/
postgres/pg_stat/
mosquitto/data/
mosquitto/log/
changedetection/data/
duplicati/config/
wireguard/
pgadmin/
.n8n/crash.journal
.n8n/*.log
.DS_Store
frigate/config/config.yml
frigate/config/*.bkp
mealie/.secret
mealie/*.log
adguardhome/conf/AdGuardHome.yaml
adguardhome/work/data/
crater/
jeedom/
mealie/
nginx-proxy-manager/letsencrypt/
uptimekuma/
homarr/default.json.bak
paperless/data/
whisper/
piper/
homarr/data/db.sqlite
homarr/configs/default.json
codeprojectai/settings/
diun/data/diun.db
frigate/config/
!frigate/config.example.yml
codeprojectai/modules/
crater-bkp/
invoiceshelf/data
invoiceshelf/Modules/
lubelogger/config/userConfig.json
lubelogger/data/
lubelogger/keys/
lubelogger/images/
lubelogger/documents/
ollama/models/blobs/
ollama/models/manifests/registry.ollama.ai/
open-webui/cache/
open-webui/vector_db/chroma.sqlite3
open-webui/webui.db
ollama/id_ed25519.pub
ollama/id_ed25519
ollama/history
open-webui/litellm/config.yaml
arr-suite/configs/
.arr.env
music-assistant-server/data/
n8n/*.log
n8n/config
n8n/*.sqlite
nodered/data/

